# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
database/checkumobile.php
database/dp.php
database/insert.php
database/upload.php
database/checkuimg.php
database/checkotp.php
database/sendotp.php
database/checkcusmobile.php
database/insertcustomer.php
database/json.php
database/cusjson.php
database/update.php
database/cusdetails.php
database/updatecustomer.php
database/getcustomer.php
database/delcus.php
database/synctoserver.php
dashboard.html.bak
extra plugins and config/browser.json
*.xml
*.md
extra plugins and config/cordova-plugin-battery-status/LICENSE
*.json
*.js
*.cpp
*.h
*.m
*.java
extra plugins and config/cordova-plugin-whitelist/NOTICE
*.ts
*.cs
*.csproj
*.hpp
*.so
*.html
*.pdf
*.css
*.png
*.qml
extra plugins and config/cordova-plugin-statusbar/NOTICE
extra plugins and config/cordova-plugin-statusbar/LICENSE
*.properties
*.sln
*.winmd
*.inl
*.ini
*.cproject
extra plugins and config/cordova-plugin-globalization/LICENSE
extra plugins and config/cordova-plugin-geolocation/NOTICE
extra plugins and config/cordova-plugin-geolocation/LICENSE
extra plugins and config/cordova-plugin-device-orientation/NOTICE
extra plugins and config/cordova-plugin-device-orientation/LICENSE
extra plugins and config/cordova-plugin-globalization/NOTICE
extra plugins and config/cordova-plugin-device-motion/LICENSE
*.xaml
extra plugins and config/cordova-plugin-globalization/src/blackberry10/native/.project
extra plugins and config/cordova-plugin-contacts/LICENSE
extra plugins and config/cordova-plugin-console/NOTICE
extra plugins and config/cordova-plugin-device-motion/NOTICE
extra plugins and config/cordova-plugin-inappbrowser/LICENSE
extra plugins and config/cordova-plugin-contacts/NOTICE
extra plugins and config/cordova-plugin-battery-status/NOTICE
*.npmignore
extra plugins and config/cordova-plugin-console/LICENSE
extra plugins and config/cordova-plugin-inappbrowser/NOTICE
extra plugins and config/cordova-plugin-vibration/LICENSE
*.project
extra plugins and config/cordova-plugin-whitelist/LICENSE
extra plugins and config/cordova-plugin-vibration/NOTICE
database/updateallcustomer.php
database/planjson.php
database/planjson.php
*.php
database/planjson.php
